.n-i-dung,
.n-i-dung * {
  box-sizing: border-box;
}
.n-i-dung {
  background: var(--default-white, #ffffff);
  height: 2410px;
  position: relative;
  overflow-y: auto;
}
.t-i-xu-ng-4-1 {
  width: 811.45px;
  height: 1442.58px;
  position: absolute;
  left: -4.68px;
  top: 870.71px;
  transform-origin: 0 0;
  transform: rotate(-89.852deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 811.45/1442.58;
}
.frame-445 {
  padding: 0px 112px 0px 112px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: -8305px;
  left: 8465px;
  top: 1035px;
}
.th-thi-t-k {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 246px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.frame-408 {
  background: #efefef;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.rectangle-4892 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-4893 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.status-card {
  background: var(--default-white, #ffffff);
  border-radius: 8px;
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.best-seller {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-100-regular-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-100-regular-font-size, 16px);
  line-height: var(--text-single-100-regular-line-height, 20px);
  font-weight: var(--text-single-100-regular-font-weight, 400);
  position: relative;
}
.frame-417 {
  background: #ffffff;
  border-radius: 44px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.icon-outline-bookmark {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-415 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-406 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.member-name {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--heading-h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--heading-h6-font-size, 16px);
  line-height: var(--heading-h6-line-height, 22px);
  font-weight: var(--heading-h6-font-weight, 700);
  position: relative;
}
.frame-414 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-349 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-39524 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.ellipse-156 {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.designed-by-cloker {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-413 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-352 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-currency-dollar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._150-000-vn {
  background: var(
    --primary-1-p300,
    linear-gradient(
      88.84deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-body-smaller-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-body-smaller-font-size, 14px);
  line-height: var(--text-single-body-smaller-line-height, 19px);
  font-weight: var(--text-single-body-smaller-font-weight, 400);
  position: relative;
  width: 211px;
}
.group-39502 {
  flex-shrink: 0;
  width: 116px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
._85-purchases {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: absolute;
  left: 36px;
  top: 32.5px;
}
.frame-412 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-411 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-353 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-heart {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._92-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-351 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-pencil {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.can-edit {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.button-custom {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.custom {
  color: var(--primary-p50, #f2eeff);
  text-align: left;
  font-family: var(
    --text-single-100-medium-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--text-single-100-medium-font-size, 16px);
  line-height: var(--text-single-100-medium-line-height, 18px);
  font-weight: var(--text-single-100-medium-font-weight, 500);
  position: relative;
}
.th-thi-t-k2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.th-thi-t-k3 {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 245px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.icon-outline-bookmark2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.designed-by-kimz {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-currency-dollar2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395022 {
  flex-shrink: 0;
  width: 115px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._26-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-pencil2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button-custom2 {
  background: var(--primary-p400, #5838b3);
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.frame-4082 {
  background: #eeeefd;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395242 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-shopping-bag3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-4083 {
  background: #eceaea;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395243 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395023 {
  flex-shrink: 0;
  width: 117px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.header {
  background: #a6171b;
  width: 1440px;
  height: 126px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 20px 50px 0px rgba(61, 11, 12, 0.26);
  overflow: hidden;
}
.trang-ch {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 719.22px;
  top: 46px;
}
.group-39642 {
  position: absolute;
  inset: 0;
}
.video {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 907.83px;
  top: 46px;
}
.group-39643 {
  position: absolute;
  inset: 0;
}
.n-t-p {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 1219.04px;
  top: 46px;
}
.n-i-dung2 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1039.43px;
  top: 46px;
}
.t-t-ng-hcm {
  color: #ffffff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 111.62px;
  top: 46px;
}
.footer {
  background: #a6171b;
  border-style: solid;
  border-color: #a6171b;
  border-width: 1px;
  width: 1440px;
  height: 509px;
  position: absolute;
  left: 0px;
  top: 1901px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-39509 {
  position: absolute;
  inset: 0;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-colors-color-600, #d4d2e3);
  border-width: 1px 0 0 0;
  width: 61.62%;
  height: 0%;
  position: absolute;
  right: -42.46%;
  left: 80.84%;
  bottom: 13.95%;
  top: 86.05%;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.copyright {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --text-single-200-regular-font-family,
    "DmSans-Regular",
    sans-serif
  );
  font-size: var(--text-single-200-regular-font-size, 18px);
  line-height: var(--text-single-200-regular-line-height, 18px);
  font-weight: var(--text-single-200-regular-font-weight, 400);
  position: absolute;
  right: 22.11%;
  left: 21.95%;
  width: 55.94%;
  bottom: 8.84%;
  top: 87.62%;
  height: 3.54%;
}
.n-i-dung3 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 523.99px;
  top: 91.05px;
}
.t-i-li-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 941.48px;
  top: 91.04px;
}
.trang-h-c-t-p-v-nghi-n-c-u-v-t-t-ng-h-ch-minh-cung-c-p-t-i-li-u-b-i-gi-ng-v-ki-n-th-c-n-n-t-ng-v-l-ch-s-ch-nh-tr-v-tri-t-h-c-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  position: absolute;
  left: 112px;
  top: 149px;
  width: 287.58px;
}
.t-t-ng-hcm-v-ng-cs-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 149px;
}
.gi-o-n {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 149px;
}
.t-nh-t-t-y-u-v-vai-tr-l-nh-o {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 187px;
}
.youtube {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 187px;
}
.ng-ph-i-trong-s-ch-v-ng-m-nh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 524.07px;
  top: 225px;
}
.nghi-n-c-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.56px;
  top: 225px;
}
.b-i-gi-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 263px;
}
.video2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 263px;
}
.icon-outline-mail-open {
  width: 1.88%;
  height: 4.72%;
  position: absolute;
  right: 35.7%;
  left: 62.42%;
  bottom: 45.97%;
  top: 49.31%;
  overflow: hidden;
}
.t-t-ng-h-ch-minh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  position: absolute;
  left: 112px;
  top: 75px;
}
.n-i-dung-v-t-t-ng-h-ch-nh-minh-v-ng-c-ng-s-n-vi-t-nam {
  color: #a6171b;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 415.94px;
  top: 204.63px;
  width: 588.16px;
}
.group-48097068 {
  position: absolute;
  inset: 0;
}
.rectangle-5000 {
  background: linear-gradient(
    133.33deg,
    rgba(255, 255, 255, 0) 20.673076808452606%,
    rgba(162, 19, 23, 1) 100%
  );
  border-radius: 50px;
  width: 389px;
  height: 314.94px;
  position: absolute;
  left: 112px;
  top: 1009.86px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.group-48097076 {
  position: absolute;
  inset: 0;
}
.rectangle-50002 {
  background: linear-gradient(
    133.33deg,
    rgba(255, 255, 255, 0) 20.673076808452606%,
    rgba(162, 19, 23, 1) 100%
  );
  border-radius: 50px;
  width: 389px;
  height: 314.94px;
  position: absolute;
  left: 526px;
  top: 1009.86px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.group-48097077 {
  position: absolute;
  inset: 0;
}
.rectangle-50003 {
  background: linear-gradient(
    133.33deg,
    rgba(255, 255, 255, 0) 20.673076808452606%,
    rgba(162, 19, 23, 1) 100%
  );
  border-radius: 50px;
  width: 389px;
  height: 314.94px;
  position: absolute;
  left: 939px;
  top: 1009.86px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.group-48097080 {
  position: absolute;
  inset: 0;
}
.rectangle-50004 {
  background: linear-gradient(
    133.33deg,
    rgba(255, 255, 255, 0) 20.673076808452606%,
    rgba(162, 19, 23, 1) 100%
  );
  border-radius: 50px;
  width: 389px;
  height: 314.94px;
  position: absolute;
  left: 112.8px;
  top: 1381.95px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.group-48097082 {
  position: absolute;
  inset: 0;
}
.rectangle-50005 {
  background: linear-gradient(
    133.33deg,
    rgba(255, 255, 255, 0) 20.673076808452606%,
    rgba(162, 19, 23, 1) 100%
  );
  border-radius: 50px;
  width: 389px;
  height: 314.94px;
  position: absolute;
  left: 523.38px;
  top: 1381.95px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.t-t-ng-hcm-ng-c-ng-s-n-vi-t-nam {
  color: #a6171b;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 153.8px;
  top: 1047.67px;
  width: 305.41px;
}
.t-nh-t-t-y-u-v-vai-tr-l-nh-o-c-a-ng-c-ng-s-n-vi-t-nam {
  color: #a6171b;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 567.79px;
  top: 1047.67px;
  width: 305.41px;
}
.ng-ph-i-trong-s-ch-v-ng-m-nh2 {
  color: #a6171b;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 980.79px;
  top: 1047.67px;
  width: 305.41px;
}
.tr-th-nh-ng-vi-n-theo-t-t-ng-h-ch-minh-c-kh-kh-ng {
  color: #a6171b;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 154.6px;
  top: 1419.77px;
  width: 320.31px;
}
.hi-n-t-ng-nhi-u-ng-vi-n-gi-ch-c-v-quan-tr-ng-t-nguy-n-t-ch-c {
  color: #a6171b;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 565.17px;
  top: 1419.77px;
  width: 326.17px;
}
.group-48097071 {
  position: absolute;
  inset: 0;
}
.rectangle-5009 {
  background: #f2c045;
  border-radius: 550px;
  width: 141.21px;
  height: 34.77px;
  position: absolute;
  left: 153.8px;
  top: 1251.83px;
}
.h-c-th-m {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 400;
  position: absolute;
  left: 183.9px;
  top: 1233.74px;
  width: 81px;
  height: 47.47px;
}
.fi-br-angle-double-right {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 319px;
  top: 1257.21px;
  overflow: visible;
}
.group-48097078 {
  position: absolute;
  inset: 0;
}
.rectangle-50092 {
  background: #f2c045;
  border-radius: 550px;
  width: 141.21px;
  height: 34.77px;
  position: absolute;
  left: 567.79px;
  top: 1251.83px;
}
.h-c-th-m2 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 400;
  position: absolute;
  left: 597.9px;
  top: 1233.74px;
  width: 81px;
  height: 47.47px;
}
.fi-br-angle-double-right2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 733px;
  top: 1257.21px;
  overflow: visible;
}
.group-48097079 {
  position: absolute;
  inset: 0;
}
.rectangle-50093 {
  background: #f2c045;
  border-radius: 550px;
  width: 141.21px;
  height: 34.77px;
  position: absolute;
  left: 980.79px;
  top: 1251.83px;
}
.h-c-th-m3 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 400;
  position: absolute;
  left: 1010.9px;
  top: 1233.74px;
  width: 81px;
  height: 47.47px;
}
.fi-br-angle-double-right3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1146px;
  top: 1257.21px;
  overflow: visible;
}
.group-48097081 {
  position: absolute;
  inset: 0;
}
.rectangle-50094 {
  background: #f2c045;
  border-radius: 550px;
  width: 141.21px;
  height: 34.77px;
  position: absolute;
  left: 154.6px;
  top: 1623.92px;
}
.h-c-th-m4 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 400;
  position: absolute;
  left: 184.7px;
  top: 1605.84px;
  width: 81px;
  height: 47.47px;
}
.fi-br-angle-double-right4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 319.8px;
  top: 1629.3px;
  overflow: visible;
}
.group-48097083 {
  position: absolute;
  inset: 0;
}
.rectangle-50095 {
  background: #f2c045;
  border-radius: 550px;
  width: 141.21px;
  height: 34.77px;
  position: absolute;
  left: 565.17px;
  top: 1623.92px;
}
.h-c-th-m5 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 400;
  position: absolute;
  left: 595.27px;
  top: 1605.84px;
  width: 81px;
  height: 47.47px;
}
.fi-br-angle-double-right5 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 730.38px;
  top: 1629.3px;
  overflow: visible;
}
a {
  color: #c62828;             /* đỏ đậm */
  text-decoration: none;      /* bỏ gạch chân */
  font-weight: 600;
  transition: color 0.3s ease, transform 0.2s ease;
}

/* Khi hover thì đổi màu và có hiệu ứng */
a:hover {
  color: #ff9800;             /* cam nổi bật */
  transform: translateY(-2px);
  text-decoration: underline; /* thêm gạch chân khi hover */
}

/* Nếu muốn các link dạng button */
a.cta-button,
a.button-custom,
a.button-custom2 {
  display: inline-block;
  padding: 10px 20px;
  background: #ffd600;
  color: #000 !important;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
}

a.cta-button:hover,
a.button-custom:hover,
a.button-custom2:hover {
  background: #ffca28;
  transform: scale(1.05);
}

