.n-i-dung,
.n-i-dung * {
  box-sizing: border-box;
}
.n-i-dung {
  background: var(--default-white, #ffffff);
  height: 2471px;
  position: relative;
  overflow-y: auto;
}
.frame-445 {
  padding: 0px 112px 0px 112px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: -8305px;
  left: 8465px;
  top: 1035px;
}
.th-thi-t-k {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 246px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.frame-408 {
  background: #efefef;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.rectangle-4892 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-4893 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.status-card {
  background: var(--default-white, #ffffff);
  border-radius: 8px;
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.best-seller {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-100-regular-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-100-regular-font-size, 16px);
  line-height: var(--text-single-100-regular-line-height, 20px);
  font-weight: var(--text-single-100-regular-font-weight, 400);
  position: relative;
}
.frame-417 {
  background: #ffffff;
  border-radius: 44px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.icon-outline-bookmark {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-415 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-406 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.member-name {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--heading-h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--heading-h6-font-size, 16px);
  line-height: var(--heading-h6-line-height, 22px);
  font-weight: var(--heading-h6-font-weight, 700);
  position: relative;
}
.frame-414 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-349 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-39524 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.ellipse-156 {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.designed-by-cloker {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-413 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-352 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-currency-dollar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._150-000-vn {
  background: var(
    --primary-1-p300,
    linear-gradient(
      88.84deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-body-smaller-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-body-smaller-font-size, 14px);
  line-height: var(--text-single-body-smaller-line-height, 19px);
  font-weight: var(--text-single-body-smaller-font-weight, 400);
  position: relative;
  width: 211px;
}
.group-39502 {
  flex-shrink: 0;
  width: 116px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
._85-purchases {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: absolute;
  left: 36px;
  top: 32.5px;
}
.frame-412 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-411 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-353 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-heart {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._92-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-351 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-pencil {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.can-edit {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.button-custom {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.custom {
  color: var(--primary-p50, #f2eeff);
  text-align: left;
  font-family: var(
    --text-single-100-medium-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--text-single-100-medium-font-size, 16px);
  line-height: var(--text-single-100-medium-line-height, 18px);
  font-weight: var(--text-single-100-medium-font-weight, 500);
  position: relative;
}
.th-thi-t-k2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.th-thi-t-k3 {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 245px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.icon-outline-bookmark2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.designed-by-kimz {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-currency-dollar2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395022 {
  flex-shrink: 0;
  width: 115px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._26-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-pencil2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button-custom2 {
  background: var(--primary-p400, #5838b3);
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.frame-4082 {
  background: #eeeefd;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395242 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-shopping-bag3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-4083 {
  background: #eceaea;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395243 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395023 {
  flex-shrink: 0;
  width: 117px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.header {
  background: #a6171b;
  width: 1440px;
  height: 126px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 20px 50px 0px rgba(61, 11, 12, 0.26);
  overflow: hidden;
}
.trang-ch {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 719.22px;
  top: 46px;
}
.group-39642 {
  position: absolute;
  inset: 0;
}
.video {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 907.83px;
  top: 46px;
}
.group-39643 {
  position: absolute;
  inset: 0;
}
.n-t-p {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 1219.04px;
  top: 46px;
}
.n-i-dung2 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1039.43px;
  top: 46px;
}
.t-t-ng-hcm {
  color: #ffffff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 111.62px;
  top: 46px;
}
.footer {
  background: #a6171b;
  border-style: solid;
  border-color: #a6171b;
  border-width: 1px;
  width: 1440px;
  height: 509px;
  position: absolute;
  left: 0px;
  top: 1962px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-39509 {
  position: absolute;
  inset: 0;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-colors-color-600, #d4d2e3);
  border-width: 1px 0 0 0;
  width: 61.62%;
  height: 0%;
  position: absolute;
  right: -42.46%;
  left: 80.84%;
  bottom: 13.95%;
  top: 86.05%;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.copyright {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --text-single-200-regular-font-family,
    "DmSans-Regular",
    sans-serif
  );
  font-size: var(--text-single-200-regular-font-size, 18px);
  line-height: var(--text-single-200-regular-line-height, 18px);
  font-weight: var(--text-single-200-regular-font-weight, 400);
  position: absolute;
  right: 22.11%;
  left: 21.95%;
  width: 55.94%;
  bottom: 8.84%;
  top: 87.62%;
  height: 3.54%;
}
.n-i-dung3 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 523.99px;
  top: 91.05px;
}
.t-i-li-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 941.48px;
  top: 91.04px;
}
.trang-h-c-t-p-v-nghi-n-c-u-v-t-t-ng-h-ch-minh-cung-c-p-t-i-li-u-b-i-gi-ng-v-ki-n-th-c-n-n-t-ng-v-l-ch-s-ch-nh-tr-v-tri-t-h-c-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  position: absolute;
  left: 112px;
  top: 149px;
  width: 287.58px;
}
.t-t-ng-hcm-v-ng-cs-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 149px;
}
.gi-o-n {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 149px;
}
.t-nh-t-t-y-u-v-vai-tr-l-nh-o {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 187px;
}
.youtube {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 187px;
}
.ng-ph-i-trong-s-ch-v-ng-m-nh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 524.07px;
  top: 225px;
}
.nghi-n-c-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.56px;
  top: 225px;
}
.b-i-gi-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 263px;
}
.video2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 263px;
}
.icon-outline-mail-open {
  width: 1.88%;
  height: 4.72%;
  position: absolute;
  right: 35.7%;
  left: 62.42%;
  bottom: 45.97%;
  top: 49.31%;
  overflow: hidden;
}
.t-t-ng-h-ch-minh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  position: absolute;
  left: 112px;
  top: 75px;
}
.tr-th-nh-ng-vi-n-theo-t-t-ng-h-ch-minh-c-kh-kh-ng {
  color: #a6171b;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 289.3px;
  top: 246.39px;
  width: 974.41px;
}
.group-48097104 {
  position: absolute;
  inset: 0;
}
.rectangle-5008 {
  background: #a21317;
  border-radius: 70px;
  width: 905.24px;
  height: 70.12px;
  position: absolute;
  left: 112.76px;
  top: 501.39px;
  box-shadow: 6px 6px 30px 10px rgba(101, 31, 32, 0.2);
}
.theo-h-ch-minh-vi-c-tr-th-nh-ng-vi-n-kh-ng-h-n-gi-n {
  color: #fffdfd;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 165.52px;
  top: 519.45px;
}
.rectangle-5000 {
  background: #ffffff;
  border-radius: 50px;
  width: 1010px;
  height: 337.73px;
  position: absolute;
  left: 215px;
  top: 659.75px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.rectangle-5030 {
  background: #a21317;
  width: 7.45px;
  height: 147.95px;
  position: absolute;
  left: 275.55px;
  top: 683.16px;
}
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi {
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 289.3px;
  top: 693.52px;
  width: 821.05px;
}
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi-span {
  color: #a77e7e;
  list-style-type: disc;
  padding-left: 1em;
}
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi-span2 {
  color: #a21317;
  list-style-type: disc;
  padding-left: 1em;
}
.ngh-a-l-tr-th-nh-ng-vi-n-kh-ng-ph-i-l-quy-n-m-l-k-t-qu-c-a-qu-tr-nh-n-l-c-v-t-r-n-luy-n-b-n-th-n {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-MediumItalic", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  left: 341.33px;
  top: 871.5px;
  width: 821.05px;
  height: 59px;
}
.fi-sr-arrow-right {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 295px;
  top: 889px;
  overflow: visible;
}
.image-236 {
  width: 1010px;
  height: 680.2px;
  position: absolute;
  left: 215px;
  top: 1071.62px;
  object-fit: cover;
  aspect-ratio: 1010/680.2;
}
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi,
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi
  * {
  box-sizing: border-box;
}
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi {
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
}
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi-span {
  color: #a77e7e;
  list-style-type: disc;
  padding-left: 1em;
}
.c-n-c-ph-m-ch-t-o-c-t-t-ng-ch-nh-tr-v-ng-v-ng-am-hi-u-l-lu-n-c-ch-m-ng-c-n-ph-i-tr-i-qua-r-n-luy-n-th-th-ch-c-nh-n-d-n-v-t-ch-c-ki-m-tra-nh-gi-span2 {
  color: #a21317;
  list-style-type: disc;
  padding-left: 1em;
}
.noi-dung-box {
    display: flex;
    align-items: flex-start;
    gap: 16px; /* khoảng cách giữa line và text */
    padding: 16px;
  }
  
  .noi-dung-box .line {
    width: 4px;
    background-color: #a70000; /* màu đỏ đậm giống hình */
    border-radius: 2px;
  }
  
  .noi-dung-box .noi-dung-text {
    color: #800000; /* màu chữ đỏ nâu */
    line-height: 1.6;
    font-size: 16px;
  }
  

