.n-i-dung,
.n-i-dung * {
  box-sizing: border-box;
}
.n-i-dung {
  background: var(--default-white, #ffffff);
  height: 3415px;
  position: relative;
  overflow-y: auto;
}
.frame-445 {
  padding: 0px 112px 0px 112px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: -8305px;
  left: 8465px;
  top: 1035px;
}
.th-thi-t-k {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 246px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.frame-408 {
  background: #efefef;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.rectangle-4892 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-4893 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.status-card {
  background: var(--default-white, #ffffff);
  border-radius: 8px;
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.best-seller {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-100-regular-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-100-regular-font-size, 16px);
  line-height: var(--text-single-100-regular-line-height, 20px);
  font-weight: var(--text-single-100-regular-font-weight, 400);
  position: relative;
}
.frame-417 {
  background: #ffffff;
  border-radius: 44px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.icon-outline-bookmark {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-415 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-406 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.member-name {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--heading-h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--heading-h6-font-size, 16px);
  line-height: var(--heading-h6-line-height, 22px);
  font-weight: var(--heading-h6-font-weight, 700);
  position: relative;
}
.frame-414 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-349 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-39524 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.ellipse-156 {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.designed-by-cloker {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-413 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-352 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-currency-dollar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._150-000-vn {
  background: var(
    --primary-1-p300,
    linear-gradient(
      88.84deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-body-smaller-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-body-smaller-font-size, 14px);
  line-height: var(--text-single-body-smaller-line-height, 19px);
  font-weight: var(--text-single-body-smaller-font-weight, 400);
  position: relative;
  width: 211px;
}
.group-39502 {
  flex-shrink: 0;
  width: 116px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
._85-purchases {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: absolute;
  left: 36px;
  top: 32.5px;
}
.frame-412 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-411 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-353 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-heart {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._92-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-351 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-pencil {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.can-edit {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.button-custom {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.custom {
  color: var(--primary-p50, #f2eeff);
  text-align: left;
  font-family: var(
    --text-single-100-medium-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--text-single-100-medium-font-size, 16px);
  line-height: var(--text-single-100-medium-line-height, 18px);
  font-weight: var(--text-single-100-medium-font-weight, 500);
  position: relative;
}
.th-thi-t-k2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.th-thi-t-k3 {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 245px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.icon-outline-bookmark2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.designed-by-kimz {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-currency-dollar2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395022 {
  flex-shrink: 0;
  width: 115px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._26-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-pencil2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button-custom2 {
  background: var(--primary-p400, #5838b3);
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.frame-4082 {
  background: #eeeefd;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395242 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-shopping-bag3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-4083 {
  background: #eceaea;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395243 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395023 {
  flex-shrink: 0;
  width: 117px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.header {
  background: #a6171b;
  width: 1440px;
  height: 126px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 20px 50px 0px rgba(61, 11, 12, 0.26);
  overflow: hidden;
}
.trang-ch {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 719.22px;
  top: 46px;
}
.group-39642 {
  position: absolute;
  inset: 0;
}
.video {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 907.83px;
  top: 46px;
}
.group-39643 {
  position: absolute;
  inset: 0;
}
.n-t-p {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 1219.04px;
  top: 46px;
}
.n-i-dung2 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1039.43px;
  top: 46px;
}
.t-t-ng-hcm {
  color: #ffffff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 111.62px;
  top: 46px;
}
.footer {
  background: #a6171b;
  border-style: solid;
  border-color: #a6171b;
  border-width: 1px;
  width: 1440px;
  height: 509px;
  position: absolute;
  left: 0px;
  top: 2906px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-39509 {
  position: absolute;
  inset: 0;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-colors-color-600, #d4d2e3);
  border-width: 1px 0 0 0;
  width: 61.62%;
  height: 0%;
  position: absolute;
  right: -42.46%;
  left: 80.84%;
  bottom: 13.95%;
  top: 86.05%;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.copyright {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --text-single-200-regular-font-family,
    "DmSans-Regular",
    sans-serif
  );
  font-size: var(--text-single-200-regular-font-size, 18px);
  line-height: var(--text-single-200-regular-line-height, 18px);
  font-weight: var(--text-single-200-regular-font-weight, 400);
  position: absolute;
  right: 22.11%;
  left: 21.95%;
  width: 55.94%;
  bottom: 8.84%;
  top: 87.62%;
  height: 3.54%;
}
.n-i-dung3 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 523.99px;
  top: 91.05px;
}
.t-i-li-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 941.48px;
  top: 91.04px;
}
.trang-h-c-t-p-v-nghi-n-c-u-v-t-t-ng-h-ch-minh-cung-c-p-t-i-li-u-b-i-gi-ng-v-ki-n-th-c-n-n-t-ng-v-l-ch-s-ch-nh-tr-v-tri-t-h-c-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  position: absolute;
  left: 112px;
  top: 149px;
  width: 287.58px;
}
.t-t-ng-hcm-v-ng-cs-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 149px;
}
.gi-o-n {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 149px;
}
.t-nh-t-t-y-u-v-vai-tr-l-nh-o {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 187px;
}
.youtube {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 187px;
}
.ng-ph-i-trong-s-ch-v-ng-m-nh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 524.07px;
  top: 225px;
}
.nghi-n-c-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.56px;
  top: 225px;
}
.b-i-gi-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 263px;
}
.video2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 263px;
}
.icon-outline-mail-open {
  width: 1.88%;
  height: 4.72%;
  position: absolute;
  right: 35.7%;
  left: 62.42%;
  bottom: 45.97%;
  top: 49.31%;
  overflow: hidden;
}
.t-t-ng-h-ch-minh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  position: absolute;
  left: 112px;
  top: 75px;
}
.t-t-ng-h-ch-minh-v-ng-c-ng-s-n-vi-t-nam {
  color: #a6171b;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 319px;
  top: 246.39px;
  width: 802px;
}
.rectangle-5008 {
  background: #a21317;
  border-radius: 70px;
  width: 523.15px;
  height: 70.12px;
  position: absolute;
  left: 112.76px;
  top: 442.84px;
  box-shadow: 6px 6px 30px 10px rgba(101, 31, 32, 0.2);
}
.rectangle-5009 {
  background: #a21317;
  border-radius: 30px;
  width: 724px;
  height: 112.42px;
  position: absolute;
  left: 216.22px;
  top: 2047.7px;
  box-shadow: 6px 6px 30px 10px rgba(101, 31, 32, 0.2);
}
.rectangle-5000 {
  background: #ffffff;
  border-radius: 50px;
  width: 1010px;
  height: 774.95px;
  position: absolute;
  left: 214.9px;
  top: 586.79px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.rectangle-5010 {
  background: #ffffff;
  border-radius: 50px;
  width: 1010px;
  height: 462.48px;
  position: absolute;
  left: 216.73px;
  top: 2200.64px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.ng-c-ng-s-n-vi-t-nam-l-nh-n-t-quy-t-nh-m-i-th-ng-l-i-c-a-c-ch-m-ng-vi-t-nam-ng-v-a-l-ng-i-l-nh-o-v-a-l-ng-i-y-t-trung-th-nh-c-a-nh-n-d-n-lu-n-t-l-i-ch-c-a-d-n-t-c-v-nh-n-d-n-l-n-tr-n-h-t-mu-n-l-m-t-ng-t-t-th-ph-i-th-t-s-trong-s-ch-v-ng-m-nh-c-tr-tu-o-c-v-t-ch-c-ch-t-ch-ki-n-nh-m-c-ti-u-c-l-p-d-n-t-c-g-n-li-n-v-i-ch-ngh-a-x-h-i-m-i-c-n-b-ng-vi-n-ph-i-g-ng-m-u-trong-ph-m-ch-t-v-h-nh-ng-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t-n-i-i-i-v-i-l-m-g-n-g-i-v-t-n-t-y-v-nh-n-d-n-ngo-i-ra-s-ng-ph-i-c-t-nh-c-ngh-a-th-ng-y-u-con-ng-i-gi-u-l-ng-v-tha-t-o-i-u-ki-n-cho-con-ng-i-ph-t-huy-t-i-n-ng-theo-h-ch-minh-hi-u-ch-ngh-a-m-c-l-nin-l-ph-i-s-ng-v-i-nhau-c-t-nh-c-ngh-a-n-u-c-bao-nhi-u-s-ch-m-kh-ng-t-nh-kh-ng-ngh-a-th-sao-g-i-l-hi-u-ch-ngh-a-m-c-l-nin-c-trong-di-ch-c-ng-i-vi-t-u-ti-n-l-c-ng-vi-c-i-v-i-con-ng-i-ph-i-c-t-nh-ng-ch-th-ng-y-u-l-n-nhau-y-c-ng-l-y-u-t-c-t-l-i-u-ti-n-t-o-n-n-n-n-t-ng-t-t-ng-o-c-h-ch-minh-t-r-t-s-m-ng-i-l-u-m-t-d-n-t-c-m-t-ng-v-m-i-con-ng-i-ng-y-h-m-qua-l-v-i-c-s-c-h-p-d-n-kh-ng-nh-t-nh-h-m-nay-v-ng-y-mai-v-n-c-m-i-ng-i-y-u-m-n-v-ca-ng-i-n-u-l-ng-d-kh-ng-trong-s-ng-n-a-n-u-sa-v-o-ch-ngh-a-c-nh-n-v-v-y-o-c-c-ch-m-ng-i-h-i-m-i-ng-i-ph-i-t-r-n-luy-n-th-ng-qua-th-c-ti-n-trong-c-ng-vi-c-m-i-quan-h-ph-i-t-nh-n-h-n-v-o-m-nh-kh-ng-t-l-a-d-i-huy-n-ho-c-ph-i-th-y-r-c-i-t-t-c-i-x-u-kh-c-ph-c-ki-n-tr-r-n-luy-n-li-n-t-c-tu-d-ng-su-t-i {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 256.55px;
  top: 622px;
  width: 925.69px;
}
.ng-c-ng-s-n-vi-t-nam-l-nh-n-t-quy-t-nh-m-i-th-ng-l-i-c-a-c-ch-m-ng-vi-t-nam-ng-v-a-l-ng-i-l-nh-o-v-a-l-ng-i-y-t-trung-th-nh-c-a-nh-n-d-n-lu-n-t-l-i-ch-c-a-d-n-t-c-v-nh-n-d-n-l-n-tr-n-h-t-mu-n-l-m-t-ng-t-t-th-ph-i-th-t-s-trong-s-ch-v-ng-m-nh-c-tr-tu-o-c-v-t-ch-c-ch-t-ch-ki-n-nh-m-c-ti-u-c-l-p-d-n-t-c-g-n-li-n-v-i-ch-ngh-a-x-h-i-m-i-c-n-b-ng-vi-n-ph-i-g-ng-m-u-trong-ph-m-ch-t-v-h-nh-ng-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t-n-i-i-i-v-i-l-m-g-n-g-i-v-t-n-t-y-v-nh-n-d-n-ngo-i-ra-s-ng-ph-i-c-t-nh-c-ngh-a-th-ng-y-u-con-ng-i-gi-u-l-ng-v-tha-t-o-i-u-ki-n-cho-con-ng-i-ph-t-huy-t-i-n-ng-theo-h-ch-minh-hi-u-ch-ngh-a-m-c-l-nin-l-ph-i-s-ng-v-i-nhau-c-t-nh-c-ngh-a-n-u-c-bao-nhi-u-s-ch-m-kh-ng-t-nh-kh-ng-ngh-a-th-sao-g-i-l-hi-u-ch-ngh-a-m-c-l-nin-c-trong-di-ch-c-ng-i-vi-t-u-ti-n-l-c-ng-vi-c-i-v-i-con-ng-i-ph-i-c-t-nh-ng-ch-th-ng-y-u-l-n-nhau-y-c-ng-l-y-u-t-c-t-l-i-u-ti-n-t-o-n-n-n-n-t-ng-t-t-ng-o-c-h-ch-minh-t-r-t-s-m-ng-i-l-u-m-t-d-n-t-c-m-t-ng-v-m-i-con-ng-i-ng-y-h-m-qua-l-v-i-c-s-c-h-p-d-n-kh-ng-nh-t-nh-h-m-nay-v-ng-y-mai-v-n-c-m-i-ng-i-y-u-m-n-v-ca-ng-i-n-u-l-ng-d-kh-ng-trong-s-ng-n-a-n-u-sa-v-o-ch-ngh-a-c-nh-n-v-v-y-o-c-c-ch-m-ng-i-h-i-m-i-ng-i-ph-i-t-r-n-luy-n-th-ng-qua-th-c-ti-n-trong-c-ng-vi-c-m-i-quan-h-ph-i-t-nh-n-h-n-v-o-m-nh-kh-ng-t-l-a-d-i-huy-n-ho-c-ph-i-th-y-r-c-i-t-t-c-i-x-u-kh-c-ph-c-ki-n-tr-r-n-luy-n-li-n-t-c-tu-d-ng-su-t-i-span {
  color: #a21317;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.ng-c-ng-s-n-vi-t-nam-l-nh-n-t-quy-t-nh-m-i-th-ng-l-i-c-a-c-ch-m-ng-vi-t-nam-ng-v-a-l-ng-i-l-nh-o-v-a-l-ng-i-y-t-trung-th-nh-c-a-nh-n-d-n-lu-n-t-l-i-ch-c-a-d-n-t-c-v-nh-n-d-n-l-n-tr-n-h-t-mu-n-l-m-t-ng-t-t-th-ph-i-th-t-s-trong-s-ch-v-ng-m-nh-c-tr-tu-o-c-v-t-ch-c-ch-t-ch-ki-n-nh-m-c-ti-u-c-l-p-d-n-t-c-g-n-li-n-v-i-ch-ngh-a-x-h-i-m-i-c-n-b-ng-vi-n-ph-i-g-ng-m-u-trong-ph-m-ch-t-v-h-nh-ng-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t-n-i-i-i-v-i-l-m-g-n-g-i-v-t-n-t-y-v-nh-n-d-n-ngo-i-ra-s-ng-ph-i-c-t-nh-c-ngh-a-th-ng-y-u-con-ng-i-gi-u-l-ng-v-tha-t-o-i-u-ki-n-cho-con-ng-i-ph-t-huy-t-i-n-ng-theo-h-ch-minh-hi-u-ch-ngh-a-m-c-l-nin-l-ph-i-s-ng-v-i-nhau-c-t-nh-c-ngh-a-n-u-c-bao-nhi-u-s-ch-m-kh-ng-t-nh-kh-ng-ngh-a-th-sao-g-i-l-hi-u-ch-ngh-a-m-c-l-nin-c-trong-di-ch-c-ng-i-vi-t-u-ti-n-l-c-ng-vi-c-i-v-i-con-ng-i-ph-i-c-t-nh-ng-ch-th-ng-y-u-l-n-nhau-y-c-ng-l-y-u-t-c-t-l-i-u-ti-n-t-o-n-n-n-n-t-ng-t-t-ng-o-c-h-ch-minh-t-r-t-s-m-ng-i-l-u-m-t-d-n-t-c-m-t-ng-v-m-i-con-ng-i-ng-y-h-m-qua-l-v-i-c-s-c-h-p-d-n-kh-ng-nh-t-nh-h-m-nay-v-ng-y-mai-v-n-c-m-i-ng-i-y-u-m-n-v-ca-ng-i-n-u-l-ng-d-kh-ng-trong-s-ng-n-a-n-u-sa-v-o-ch-ngh-a-c-nh-n-v-v-y-o-c-c-ch-m-ng-i-h-i-m-i-ng-i-ph-i-t-r-n-luy-n-th-ng-qua-th-c-ti-n-trong-c-ng-vi-c-m-i-quan-h-ph-i-t-nh-n-h-n-v-o-m-nh-kh-ng-t-l-a-d-i-huy-n-ho-c-ph-i-th-y-r-c-i-t-t-c-i-x-u-kh-c-ph-c-ki-n-tr-r-n-luy-n-li-n-t-c-tu-d-ng-su-t-i-span2 {
  color: #a77e7e;
  font-family: "Montserrat-Regular", sans-serif;
}
.ng-c-ng-s-n-vi-t-nam-l-nh-n-t-quy-t-nh-m-i-th-ng-l-i-c-a-c-ch-m-ng-vi-t-nam-ng-v-a-l-ng-i-l-nh-o-v-a-l-ng-i-y-t-trung-th-nh-c-a-nh-n-d-n-lu-n-t-l-i-ch-c-a-d-n-t-c-v-nh-n-d-n-l-n-tr-n-h-t-mu-n-l-m-t-ng-t-t-th-ph-i-th-t-s-trong-s-ch-v-ng-m-nh-c-tr-tu-o-c-v-t-ch-c-ch-t-ch-ki-n-nh-m-c-ti-u-c-l-p-d-n-t-c-g-n-li-n-v-i-ch-ngh-a-x-h-i-m-i-c-n-b-ng-vi-n-ph-i-g-ng-m-u-trong-ph-m-ch-t-v-h-nh-ng-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t-n-i-i-i-v-i-l-m-g-n-g-i-v-t-n-t-y-v-nh-n-d-n-ngo-i-ra-s-ng-ph-i-c-t-nh-c-ngh-a-th-ng-y-u-con-ng-i-gi-u-l-ng-v-tha-t-o-i-u-ki-n-cho-con-ng-i-ph-t-huy-t-i-n-ng-theo-h-ch-minh-hi-u-ch-ngh-a-m-c-l-nin-l-ph-i-s-ng-v-i-nhau-c-t-nh-c-ngh-a-n-u-c-bao-nhi-u-s-ch-m-kh-ng-t-nh-kh-ng-ngh-a-th-sao-g-i-l-hi-u-ch-ngh-a-m-c-l-nin-c-trong-di-ch-c-ng-i-vi-t-u-ti-n-l-c-ng-vi-c-i-v-i-con-ng-i-ph-i-c-t-nh-ng-ch-th-ng-y-u-l-n-nhau-y-c-ng-l-y-u-t-c-t-l-i-u-ti-n-t-o-n-n-n-n-t-ng-t-t-ng-o-c-h-ch-minh-t-r-t-s-m-ng-i-l-u-m-t-d-n-t-c-m-t-ng-v-m-i-con-ng-i-ng-y-h-m-qua-l-v-i-c-s-c-h-p-d-n-kh-ng-nh-t-nh-h-m-nay-v-ng-y-mai-v-n-c-m-i-ng-i-y-u-m-n-v-ca-ng-i-n-u-l-ng-d-kh-ng-trong-s-ng-n-a-n-u-sa-v-o-ch-ngh-a-c-nh-n-v-v-y-o-c-c-ch-m-ng-i-h-i-m-i-ng-i-ph-i-t-r-n-luy-n-th-ng-qua-th-c-ti-n-trong-c-ng-vi-c-m-i-quan-h-ph-i-t-nh-n-h-n-v-o-m-nh-kh-ng-t-l-a-d-i-huy-n-ho-c-ph-i-th-y-r-c-i-t-t-c-i-x-u-kh-c-ph-c-ki-n-tr-r-n-luy-n-li-n-t-c-tu-d-ng-su-t-i-span3 {
  color: #a21317;
  font-family: "Montserrat-Regular", sans-serif;
}
.c-n-l-si-ng-n-ng-ch-m-ch-c-g-ng-d-o-dai-mu-n-c-ch-c-n-th-ph-i-lao-ng-c-k-ho-ch-s-ng-t-o-n-ng-su-t-lao-ng-t-l-c-v-kh-ng-l-i-bi-ng-lao-ng-l-ngh-a-v-thi-ng-li-ng-l-ngu-n-s-ng-ngu-n-h-nh-ph-c-c-a-ch-ng-ta-ki-m-l-ti-t-ki-m-s-c-lao-ng-th-gi-ti-t-ki-m-ti-n-c-a-d-n-c-a-n-c-c-a-m-nh-kh-ng-ph-tr-ng-hoang-ph-m-x-i-v-o-vi-c-ng-l-m-h-ch-minh-y-u-c-u-ph-i-c-n-ki-m-x-y-d-ng-nh-n-c-li-m-l-li-m-khi-t-trong-s-ch-kh-ng-tham-a-v-ti-n-b-c-lu-n-t-n-tr-ng-gi-g-n-c-a-c-ng-c-a-d-n-ch-nh-kh-ng-t-ngh-a-l-th-ng-th-n-ng-n-ch-c-ng-v-t-l-v-l-i-ch-chung-kh-ng-v-t-l-i-c-nh-n {
  text-align: left;
  font-family: "Montserrat-Italic", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 260.06px;
  top: 2260px;
  width: 925.69px;
}
.c-n-l-si-ng-n-ng-ch-m-ch-c-g-ng-d-o-dai-mu-n-c-ch-c-n-th-ph-i-lao-ng-c-k-ho-ch-s-ng-t-o-n-ng-su-t-lao-ng-t-l-c-v-kh-ng-l-i-bi-ng-lao-ng-l-ngh-a-v-thi-ng-li-ng-l-ngu-n-s-ng-ngu-n-h-nh-ph-c-c-a-ch-ng-ta-ki-m-l-ti-t-ki-m-s-c-lao-ng-th-gi-ti-t-ki-m-ti-n-c-a-d-n-c-a-n-c-c-a-m-nh-kh-ng-ph-tr-ng-hoang-ph-m-x-i-v-o-vi-c-ng-l-m-h-ch-minh-y-u-c-u-ph-i-c-n-ki-m-x-y-d-ng-nh-n-c-li-m-l-li-m-khi-t-trong-s-ch-kh-ng-tham-a-v-ti-n-b-c-lu-n-t-n-tr-ng-gi-g-n-c-a-c-ng-c-a-d-n-ch-nh-kh-ng-t-ngh-a-l-th-ng-th-n-ng-n-ch-c-ng-v-t-l-v-l-i-ch-chung-kh-ng-v-t-l-i-c-nh-n-span {
  color: #a77e7e;
}
.c-n-l-si-ng-n-ng-ch-m-ch-c-g-ng-d-o-dai-mu-n-c-ch-c-n-th-ph-i-lao-ng-c-k-ho-ch-s-ng-t-o-n-ng-su-t-lao-ng-t-l-c-v-kh-ng-l-i-bi-ng-lao-ng-l-ngh-a-v-thi-ng-li-ng-l-ngu-n-s-ng-ngu-n-h-nh-ph-c-c-a-ch-ng-ta-ki-m-l-ti-t-ki-m-s-c-lao-ng-th-gi-ti-t-ki-m-ti-n-c-a-d-n-c-a-n-c-c-a-m-nh-kh-ng-ph-tr-ng-hoang-ph-m-x-i-v-o-vi-c-ng-l-m-h-ch-minh-y-u-c-u-ph-i-c-n-ki-m-x-y-d-ng-nh-n-c-li-m-l-li-m-khi-t-trong-s-ch-kh-ng-tham-a-v-ti-n-b-c-lu-n-t-n-tr-ng-gi-g-n-c-a-c-ng-c-a-d-n-ch-nh-kh-ng-t-ngh-a-l-th-ng-th-n-ng-n-ch-c-ng-v-t-l-v-l-i-ch-chung-kh-ng-v-t-l-i-c-nh-n-span2 {
  color: #a21317;
}
.gi-i-th-ch-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 257.87px;
  top: 2085.41px;
}
.gi-i-th-ch-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t-span {
  font-family: "Montserrat-Italic", sans-serif;
  font-style: italic;
}
.gi-i-th-ch-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t-span2 {
  font-family: "Montserrat-BoldItalic", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.gi-i-th-ch-c-n-ki-m-li-m-ch-nh-ch-c-ng-v-t-span3 {
  font-family: "Montserrat-ExtraBoldItalic", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.ch-t-ch-h-ch-minh-kh-ng-nh {
  color: #fffdfd;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 158.62px;
  top: 459.2px;
}
.group-48097091 {
  position: absolute;
  inset: 0;
}
.rectangle-50002 {
  width: 805.14px;
  height: 522.57px;
  position: absolute;
  left: 318.9px;
  top: 1409.73px;
  object-fit: cover;
}
