.video,
.video * {
  box-sizing: border-box;
}
.video {
  background: var(--default-white, #ffffff);
  height: 2732px;
  position: relative;
  overflow-y: auto;
}
.rectangle-5008 {
  background: #a21317;
  border-radius: 70px;
  width: 206.24px;
  height: 70.12px;
  position: absolute;
  left: 459.5px;
  top: 223.38px;
  box-shadow: 6px 6px 30px 10px rgba(101, 31, 32, 0.2);
}
.frame-445 {
  padding: 0px 112px 0px 112px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: -8305px;
  left: 8465px;
  top: 1035px;
}
.th-thi-t-k {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 246px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.frame-408 {
  background: #efefef;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.rectangle-4892 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-4893 {
  border-radius: 24px 24px 0px 0px;
  width: 246px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.status-card {
  background: var(--default-white, #ffffff);
  border-radius: 8px;
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.best-seller {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-100-regular-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-100-regular-font-size, 16px);
  line-height: var(--text-single-100-regular-line-height, 20px);
  font-weight: var(--text-single-100-regular-font-weight, 400);
  position: relative;
}
.frame-417 {
  background: #ffffff;
  border-radius: 44px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 16px;
  top: 16px;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.icon-outline-bookmark {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-415 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-406 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.member-name {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--heading-h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--heading-h6-font-size, 16px);
  line-height: var(--heading-h6-line-height, 22px);
  font-weight: var(--heading-h6-font-weight, 700);
  position: relative;
}
.frame-414 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-349 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-39524 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.ellipse-156 {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.designed-by-cloker {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-413 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-352 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-currency-dollar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._150-000-vn {
  background: var(
    --primary-1-p300,
    linear-gradient(
      88.84deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(
    --text-single-body-smaller-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-single-body-smaller-font-size, 14px);
  line-height: var(--text-single-body-smaller-line-height, 19px);
  font-weight: var(--text-single-body-smaller-font-weight, 400);
  position: relative;
  width: 211px;
}
.group-39502 {
  flex-shrink: 0;
  width: 116px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
._85-purchases {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: absolute;
  left: 36px;
  top: 32.5px;
}
.frame-412 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-411 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-353 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-heart {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._92-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.frame-351 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-outline-pencil {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.can-edit {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.button-custom {
  background: var(
    --mau-final-button,
    linear-gradient(
      87.34deg,
      rgba(156, 60, 253, 1) 0%,
      rgba(191, 56, 255, 1) 100%
    )
  );
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.custom {
  color: var(--primary-p50, #f2eeff);
  text-align: left;
  font-family: var(
    --text-single-100-medium-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--text-single-100-medium-font-size, 16px);
  line-height: var(--text-single-100-medium-line-height, 18px);
  font-weight: var(--text-single-100-medium-font-weight, 500);
  position: relative;
}
.th-thi-t-k2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.th-thi-t-k3 {
  background: var(--default-white, #ffffff);
  border-radius: 24px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 245px;
  height: 418px;
  position: relative;
  box-shadow: var(
    --general-shadows-200-box-shadow,
    0px 2px 12px 0px rgba(20, 20, 43, 0.08)
  );
}
.icon-outline-bookmark2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.designed-by-kimz {
  color: var(--foundation-neutral-n100, #837d92);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-currency-dollar2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395022 {
  flex-shrink: 0;
  width: 115px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._26-like {
  color: var(--foundation-neutral-n500, #4e4663);
  text-align: left;
  font-family: var(--small-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--small-font-size, 12px);
  line-height: var(--small-line-height, 16px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
}
.icon-outline-pencil2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button-custom2 {
  background: var(--primary-p400, #5838b3);
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadows-100-box-shadow,
    0px 4px 10px 0px rgba(74, 58, 255, 0.06)
  );
}
.frame-4082 {
  background: #eeeefd;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395242 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-shopping-bag3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-4083 {
  background: #eceaea;
  border-radius: 24px 24px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.icon-outline-bookmark4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395243 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-currency-dollar4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-395023 {
  flex-shrink: 0;
  width: 117px;
  height: 24px;
  position: static;
}
.icon-outline-shopping-bag4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.icon-outline-heart4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-outline-pencil4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.header {
  background: #a6171b;
  width: 1440px;
  height: 126px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 20px 50px 0px rgba(61, 11, 12, 0.26);
  overflow: hidden;
}
.trang-ch {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 719.22px;
  top: 46px;
}
.group-39642 {
  position: absolute;
  inset: 0;
}
.video2 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 905.83px;
  top: 46px;
}
.group-39643 {
  position: absolute;
  inset: 0;
}
.n-t-p {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 1219.04px;
  top: 46px;
}
.n-i-dung {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 1041.43px;
  top: 46px;
}
.t-t-ng-hcm {
  color: #ffffff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 111.62px;
  top: 46px;
}
.t-t-c {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 515.12px;
  top: 241.44px;
}
.video-l-u {
  color: #a77e7e;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 722.32px;
  top: 241.44px;
}
.group-48097096 {
  position: absolute;
  inset: 0;
}
.group-48097080 {
  width: 389px;
  height: 445.38px;
  position: static;
}
.rectangle-5000 {
  background: #ffffff;
  border-radius: 50px;
  width: 389px;
  height: 445.38px;
  position: absolute;
  left: 113.82px;
  top: 403.1px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.fi-br-bookmark {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 451.78px;
  top: 776.95px;
  overflow: visible;
}
.group-48097097 {
  position: absolute;
  inset: 0;
}
.rectangle-50002 {
  background: #ffffff;
  border-radius: 50px;
  width: 389px;
  height: 445.38px;
  position: absolute;
  left: 527.82px;
  top: 401.67px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.fi-br-bookmark2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 865.78px;
  top: 775.52px;
  overflow: visible;
}
.group-48097098 {
  position: absolute;
  inset: 0;
}
.rectangle-50003 {
  background: #ffffff;
  border-radius: 50px;
  width: 389px;
  height: 445.38px;
  position: absolute;
  left: 941.82px;
  top: 401.67px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.fi-br-bookmark3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1279.78px;
  top: 775.52px;
  overflow: visible;
}
.group-48097099 {
  position: absolute;
  inset: 0;
}
.rectangle-50004 {
  background: #ffffff;
  border-radius: 50px;
  width: 389px;
  height: 445.38px;
  position: absolute;
  left: 113.82px;
  top: 916.12px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.fi-br-bookmark4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 451.78px;
  top: 1289.97px;
  overflow: visible;
}
.group-48097102 {
  position: absolute;
  inset: 0;
}
.rectangle-50005 {
  background: #ffffff;
  border-radius: 50px;
  width: 389px;
  height: 445.38px;
  position: absolute;
  left: 112px;
  top: 1456.66px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.fi-br-bookmark5 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 449.95px;
  top: 1830.51px;
  overflow: visible;
}
.group-48097100 {
  position: absolute;
  inset: 0;
}
.rectangle-50006 {
  background: #ffffff;
  border-radius: 50px;
  width: 389px;
  height: 445.38px;
  position: absolute;
  left: 527.82px;
  top: 916.11px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.fi-br-bookmark6 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 865.78px;
  top: 1289.97px;
  overflow: visible;
}
.group-48097101 {
  position: absolute;
  inset: 0;
}
.rectangle-50007 {
  background: #ffffff;
  border-radius: 50px;
  width: 389px;
  height: 445.38px;
  position: absolute;
  left: 940.82px;
  top: 916.11px;
  box-shadow: 6px 6px 30px 10px rgba(172, 161, 161, 0.1);
}
.fi-br-bookmark7 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1278.78px;
  top: 1289.97px;
  overflow: visible;
}
.group-48097083 {
  position: absolute;
  inset: 0;
}
.rectangle-50008 {
  border-radius: 50px 50px 0px 0px;
  width: 389px;
  height: 252.48px;
  position: absolute;
  left: 527.82px;
  top: 401.67px;
  object-fit: cover;
}
.group-48097085 {
  position: absolute;
  inset: 0;
}
.rectangle-50009 {
  border-radius: 50px 50px 0px 0px;
  width: 389px;
  height: 252.48px;
  position: absolute;
  left: 941.82px;
  top: 401.67px;
  object-fit: cover;
}
.group-48097087 {
  position: absolute;
  inset: 0;
}
.rectangle-500010 {
  border-radius: 50px 50px 0px 0px;
  width: 389px;
  height: 252.48px;
  position: absolute;
  left: 113.82px;
  top: 916.12px;
  object-fit: cover;
}
.group-48097103 {
  position: absolute;
  inset: 0;
}
.rectangle-500011 {
  border-radius: 50px 50px 0px 0px;
  width: 389px;
  height: 252.48px;
  position: absolute;
  left: 112px;
  top: 1456.66px;
  object-fit: cover;
}
.group-48097089 {
  position: absolute;
  inset: 0;
}
.rectangle-500012 {
  border-radius: 50px 50px 0px 0px;
  width: 389px;
  height: 252.48px;
  position: absolute;
  left: 527.82px;
  top: 916.11px;
  object-fit: cover;
}
.group-48097091 {
  position: absolute;
  inset: 0;
}
.rectangle-500013 {
  border-radius: 50px 50px 0px 0px;
  width: 389px;
  height: 252.48px;
  position: absolute;
  left: 940.82px;
  top: 916.11px;
  object-fit: cover;
}
.b-c-h-v-i-o-c-c-ch-m-ng {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 559.6px;
  top: 680.45px;
  width: 268.21px;
}
.t-t-ng-hcm-v-ng-c-ng-s-n-vi-t-nam {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 973.6px;
  top: 680.45px;
  width: 222.16px;
}
.t-t-ng-hcm-v-ng-c-ng-s-n-vi-t-nam2 {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 145.6px;
  top: 1194.9px;
  width: 235.01px;
}
.t-t-ng-hcm-v-ng-c-ng-s-n-vi-t-nam3 {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 143.78px;
  top: 1735.44px;
  width: 235.01px;
}
.t-t-ng-hcm-v-o-n-k-t-qu-c-t {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 559.6px;
  top: 1194.9px;
  width: 258.64px;
}
.t-t-ng-hcm-v-ng-c-ng-s-n-vi-t-nam-li-n-h-th-c-ti-n {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 972.6px;
  top: 1194.9px;
  width: 314.17px;
}
.https-www-youtube-com-watch-v-cc-j-3-m-0-rsuqo {
  color: #a77e7e;
  text-align: left;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: 559.81px;
  top: 1297.06px;
  width: 313.95px;
}
.https-www-youtube-com-watch-v-nk-5-j-wxtgeyw {
  color: #a77e7e;
  text-align: left;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: 972.81px;
  top: 1297.06px;
  width: 313.95px;
}
.group-48097095 {
  position: absolute;
  inset: 0;
}
.group-48097081 {
  width: 389px;
  height: 253.91px;
  position: static;
}
.rectangle-500014 {
  border-radius: 50px 50px 0px 0px;
  width: 389px;
  height: 253.91px;
  position: absolute;
  left: 113.82px;
  top: 401.67px;
  object-fit: cover;
}
.t-t-ng-hcm-v-ng-ph-s-v-li-m-ch-nh {
  color: #a21317;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 145.6px;
  top: 681.88px;
  width: 268.21px;
}
.https-www-youtube-com-watch-v-wq-0-j-e-1-rtai-4 {
  color: #a77e7e;
  text-align: left;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: 149.82px;
  top: 780.95px;
  width: 313.95px;
}
.https-www-youtube-com-watch-v-xj-da-uh-cv-vlg {
  color: #a77e7e;
  text-align: left;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: 563.82px;
  top: 779.52px;
  width: 313.95px;
}
.https-www-youtube-com-watch-v-kq-nnqaxz-2-zw {
  color: #a77e7e;
  text-align: left;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: 977.82px;
  top: 779.52px;
  width: 313.95px;
}
.https-www-youtube-com-watch-v-d-ckf-xv-4-s-ud-u {
  color: #a77e7e;
  text-align: left;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: 149.82px;
  top: 1293.97px;
  width: 313.95px;
}
.https-www-youtube-com-watch-v-t-2-xq-3-w-rijg {
  color: #a77e7e;
  text-align: left;
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: 148px;
  top: 1834.51px;
  width: 313.95px;
  height: 45.23px;
}
.footer {
  background: #a6171b;
  border-style: solid;
  border-color: #a6171b;
  border-width: 1px;
  width: 1440px;
  height: 509px;
  position: absolute;
  left: 0px;
  top: 2223px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-39509 {
  position: absolute;
  inset: 0;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-colors-color-600, #d4d2e3);
  border-width: 1px 0 0 0;
  width: 61.62%;
  height: 0%;
  position: absolute;
  right: -42.46%;
  left: 80.84%;
  bottom: 13.95%;
  top: 86.05%;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.copyright {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --text-single-200-regular-font-family,
    "DmSans-Regular",
    sans-serif
  );
  font-size: var(--text-single-200-regular-font-size, 18px);
  line-height: var(--text-single-200-regular-line-height, 18px);
  font-weight: var(--text-single-200-regular-font-weight, 400);
  position: absolute;
  right: 22.11%;
  left: 21.95%;
  width: 55.94%;
  bottom: 8.84%;
  top: 87.62%;
  height: 3.54%;
}
.n-i-dung2 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 523.99px;
  top: 91.05px;
}
.t-i-li-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 941.48px;
  top: 91.04px;
}
.trang-h-c-t-p-v-nghi-n-c-u-v-t-t-ng-h-ch-minh-cung-c-p-t-i-li-u-b-i-gi-ng-v-ki-n-th-c-n-n-t-ng-v-l-ch-s-ch-nh-tr-v-tri-t-h-c-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  position: absolute;
  left: 112px;
  top: 149px;
  width: 287.58px;
}
.t-t-ng-hcm-v-ng-cs-vi-t-nam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 149px;
}
.gi-o-n {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 149px;
}
.t-nh-t-t-y-u-v-vai-tr-l-nh-o {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 187px;
}
.youtube {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 187px;
}
.ng-ph-i-trong-s-ch-v-ng-m-nh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 524.07px;
  top: 225px;
}
.nghi-n-c-u {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.56px;
  top: 225px;
}
.b-i-gi-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 523.99px;
  top: 263px;
}
.video3 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 941.48px;
  top: 263px;
}
.icon-outline-mail-open {
  width: 1.88%;
  height: 4.72%;
  position: absolute;
  right: 35.7%;
  left: 62.42%;
  bottom: 45.97%;
  top: 49.31%;
  overflow: hidden;
}
.t-t-ng-h-ch-minh {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  position: absolute;
  left: 112px;
  top: 75px;
}
.rectangle-5004 {
  background: #a21317;
  border-radius: 20px;
  width: 79px;
  height: 74.7px;
  position: absolute;
  left: 629px;
  top: 2035.53px;
  box-shadow: 6px 6px 30px 10px rgba(101, 31, 32, 0.2);
}
.rectangle-5009 {
  background: #a21317;
  border-radius: 20px;
  width: 79px;
  height: 74.7px;
  position: absolute;
  left: 732px;
  top: 2035.53px;
  box-shadow: 6px 6px 30px 10px rgba(101, 31, 32, 0.2);
}
._1 {
  color: #fffdfd;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 663.5px;
  top: 2058.38px;
}
._2 {
  color: #fffdfd;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 766.5px;
  top: 2058.38px;
}
.fi-br-arrow-left {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 581px;
  top: 2062.14px;
  overflow: visible;
}
.fi-br-arrow-right {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 835px;
  top: 2062.14px;
  overflow: visible;
}
.ti-p {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-LightItalic", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  left: 875.55px;
  top: 2059.64px;
}
.tr-l-i {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-LightItalic", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  left: 497.13px;
  top: 2059.63px;
}
/* Reset chung cho tất cả link */
a {
  color: #c62828;             /* đỏ đậm */
  text-decoration: none;      /* bỏ gạch chân */
  font-weight: 600;
  transition: color 0.3s ease, transform 0.2s ease;
}

/* Khi hover thì đổi màu và có hiệu ứng */
a:hover {
  color: #ff9800;             /* cam nổi bật */
  transform: translateY(-2px);
  text-decoration: underline; /* thêm gạch chân khi hover */
}

/* Nếu muốn các link dạng button */
a.cta-button,
a.button-custom,
a.button-custom2 {
  display: inline-block;
  padding: 10px 20px;
  background: #ffd600;
  color: #000 !important;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
}

a.cta-button:hover,
a.button-custom:hover,
a.button-custom2:hover {
  background: #ffca28;
  transform: scale(1.05);
}
